body{
    padding: 0px;
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif;
}
main{
    background: rgb(23, 23, 23);
    height: 100vh;
    width: 100vw;
}
#view{
    height: 100%;
    width: 100%;
    overflow: hidden;
    position: relative;
}
#space{
    position: absolute;
}
.crescent-nebula{
    background-image: url("./img/crescent_nebula.webp");
    background-color: rgb(0, 36, 36);
    height: 200%;
    width: 200%;
    background-position: right;
    background-repeat: no-repeat;
    background-size: cover;
}
.orion-nebula{
    background-image: url("./img/orion_nebula.webp");
    background-color: rgb(0, 36, 36);
    height: 200%;
    width: 200%;
    background-position: right;
    background-repeat: no-repeat;
    background-size: cover;
}
.milky-way{
    background-image: url("./img/milky_way.webp");
    background-color: rgb(0, 36, 36);
    height: 200%;
    width: 200%;
    background-position: right;
    background-repeat: no-repeat;
    background-size: cover;
}
.cosmic-cloud{
    background-image: url("./img/cosmic_cloud.webp");
    background-color: rgb(0, 36, 36);
    height: 200%;
    width: 200%;
    background-position: right;
    background-repeat: no-repeat;
    background-size: cover;
}
.hidden{
    display: none;
}
.opacity-10{
    opacity: 0.1;
}
#controls{
    height: 50px;
    width: 100%;
    position: fixed;
    bottom: 0;
    z-index: 2000;
    background-image: linear-gradient(to bottom, #999 5%, #333 15%, #999 95%);
}
#message{
    background: rgba(113, 131, 251, 0.5);
    height: 100%;
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 1000;
    padding: 20px;
    overflow-y: scroll;
}
#message img{
    display: block;
    border-radius: 50%;
    border: solid rgb(113, 131, 251) 5px;
    opacity: 0.8;
    width: 150px;
    height: auto;
    margin: auto;
}
#message p{
    background: rgb(1, 14, 104);
    padding: 20px;
    border-radius: 20px;
    color: white;
    margin: auto;
    width: 250px;
    margin-top: 20px;
}
#message button{
    border-radius: 50%;
    width: 75px;
    padding: 20px;
    background-image: linear-gradient(to bottom right, rgb(104, 124, 252) 30%, rgb(139, 154, 249) 50%, rgb(104, 124, 252) 70%);
    color: black;
    text-shadow: 0px 0px 2px rgb(132, 148, 253);
    margin: 20px auto;
    display: block;
}
.fade-in{
    animation: fadeIn 2s forwards;
}
@keyframes fadeIn {
    0% {
        opacity: 0.1;
    }
    100% {
        opacity: 1;
    }
}
.point-0{
    top: -10px;
    left: -10px;
}
.point-1{
    animation: point1 3s forwards;
}
@keyframes point1 {
    0% {
        top: -10px;
        left: -10px;
    }
    100% {
        top: 0px;
        left: -300px;
    }
}