body{
    padding: 0px;
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif;
}
main{
    background: rgb(23, 23, 23);
    height: 100vh;
    width: 100vw;
}
#view{
    height: 100%;
    width: 100%;
    overflow: hidden;
    position: relative;
}
#space{
    position: absolute;
}
.crescent-nebula{
    background-image: url("./img/crescent_nebula.webp");
    background-color: rgb(0, 36, 36);
    height: 200%;
    width: 200%;
    background-position: right;
    background-repeat: no-repeat;
    background-size: cover;
}
.orion-nebula{
    background-image: url("./img/orion_nebula.webp");
    background-color: rgb(0, 36, 36);
    height: 200%;
    width: 200%;
    background-position: right;
    background-repeat: no-repeat;
    background-size: cover;
}
.milky-way{
    background-image: url("./img/milky_way.webp");
    background-color: rgb(0, 36, 36);
    height: 200%;
    width: 200%;
    background-position: right;
    background-repeat: no-repeat;
    background-size: cover;
}
.cosmic-cloud{
    background-image: url("./img/cosmic_cloud.webp");
    background-color: rgb(0, 36, 36);
    height: 200%;
    width: 200%;
    background-position: right;
    background-repeat: no-repeat;
    background-size: cover;
}
.hidden{
    display: none;
}
.opacity-10{
    opacity: 0.1;
}
#controls{
    height: 70px;
    width: 100%;
    position: fixed;
    bottom: 0;
    z-index: 2000;
    background-image: linear-gradient(to bottom, #999 5%, #333 15%, #999 95%);
}
#message{
    background: rgba(113, 131, 251, 0.5);
    height: 100%;
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 1000;
    padding: 20px;
    overflow-y: scroll;
}
#message img{
    display: block;
    border-radius: 50%;
    border: solid rgb(113, 131, 251) 5px;
    opacity: 0.8;
    width: 150px;
    height: auto;
    margin: auto;
}
#message p{
    background: rgb(1, 14, 104);
    padding: 20px;
    border-radius: 20px;
    color: white;
    margin: auto;
    width: 250px;
    margin-top: 20px;
}
#message button{
    border-radius: 50%;
    width: 80px;
    padding: 20px;
    background-image: linear-gradient(to bottom right, rgb(104, 124, 252) 30%, rgb(139, 154, 249) 50%, rgb(104, 124, 252) 70%);
    color: black;
    font-size: 16px;
    text-shadow: 0px 0px 2px rgb(132, 148, 253);
    margin: 20px auto;
    display: block;
}
/* space junk styles------------------------------------------------------------------------------------------ */
#junk{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    scale: 1.5;
    color: white;
}
.junk-tl-0{
    border-top-left-radius: 0px;
}
.junk-tl-1{
    border-top-left-radius: 20px;
}
.junk-tl-2{
    border-top-left-radius: 40px;
}
.junk-tl-3{
    border-top-left-radius: 60px;
}
.junk-tl-4{
    border-top-left-radius: 80px;
}
.junk-tl-5{
    border-top-left-radius: 100px;
}
.junk-tr-0{
    border-top-right-radius: 0px;
}
.junk-tr-1{
    border-top-right-radius: 20px;
}
.junk-tr-2{
    border-top-right-radius: 40px;
}
.junk-tr-3{
    border-top-right-radius: 60px;
}
.junk-tr-4{
    border-top-right-radius: 80px;
}
.junk-tr-5{
    border-top-right-radius: 100px;
}
.junk-br-0{
    border-bottom-right-radius: 0px;
}
.junk-br-1{
    border-bottom-right-radius: 20px;
}
.junk-br-2{
    border-bottom-right-radius: 40px;
}
.junk-br-3{
    border-bottom-right-radius: 60px;
}
.junk-br-4{
    border-bottom-right-radius: 80px;
}
.junk-br-5{
    border-bottom-right-radius: 100px;
}
.junk-bl-0{
    border-bottom-left-radius: 0px;
}
.junk-bl-1{
    border-bottom-left-radius: 20px;
}
.junk-bl-2{
    border-bottom-left-radius: 40px;
}
.junk-bl-3{
    border-bottom-left-radius: 60px;
}
.junk-bl-4{
    border-bottom-left-radius: 80px;
}
.junk-bl-5{
    border-bottom-left-radius: 100px;
}
.junk-skew-0{
    transform: skew(0deg, 0deg);
}
.junk-skew-1{
    transform: skew(20deg, 10deg);
}
.junk-skew-1 p{
    transform: skew(-20deg, -10deg);
}
.junk-skew-2{
    transform: skew(10deg, 20deg);
}
.junk-skew-2 p{
    transform: skew(-10deg, -20deg);
}
.junk-rotate-0{
    transform: rotate(0deg);
}
.junk-rotate-1{
    transform: rotate(20deg);
}
.junk-rotate-1 p{
    transform: rotate(-20deg);
}
.junk-rotate-2{
    transform: rotate(40deg);
}
.junk-rotate-2 p{
    transform: rotate(-40deg);
}
.junk-rotate-3{
    transform: rotate(60deg);
}
.junk-rotate-3 p{
    transform: rotate(-60deg);
}
.junk-rotate-4{
    transform: rotate(-20deg);
}
.junk-rotate-4 p{
    transform: rotate(20deg);
}
.junk-rotate-5{
    transform: rotate(-40deg);
}
.junk-rotate-5 p{
    transform: rotate(40deg);
}
.junk-rotate-6{
    transform: rotate(-60deg);
}
.junk-rotate-6 p{
    transform: rotate(60deg);
}
.junk-background-1{
    background-image: linear-gradient(to bottom right, #e8a5a5, #facdcd, #e8a5a5);
}
.junk-background-2{
    background-image: linear-gradient(to bottom right, #e8c3a5, #fae2cf, #e8c3a5);
}
.junk-background-3{
    background-image: linear-gradient(to bottom right, #e8e1a5, #f7f3cd, #e8e1a5);
}
.junk-background-4{
    background-image: linear-gradient(to bottom right, #b1e8a5, #ccf0c5, #b1e8a5);
}
.junk-background-5{
    background-image: linear-gradient(to bottom right, #a5e8cb, #bff5dd, #a5e8cb);
}
.junk-background-6{
    background-image: linear-gradient(to bottom right, #a5d3e8, #c5e9fa, #a5d3e8);
}
.junk-background-7{
    background-image: linear-gradient(to bottom right, #a8a5e8, #cdcafa, #a8a5e8);
}
.junk-background-8{
    background-image: linear-gradient(to bottom right, #e8a5ce, #f2c0df, #e8a5ce);
}
.junk-background-9{
    background-image: linear-gradient(to bottom right, #f2bdc8, #fad7de, #f2bdc8);
}
.junk-background-10{
    background-image: linear-gradient(to bottom right, #d8d8d8, #f7f7f7, #d8d8d8)
}
.junk-background-11{
    background-image: linear-gradient(to bottom right, #cca9a9, #e3c5c5, #cca9a9);
}
.junk-background-12{
    background-image: linear-gradient(to bottom right, #d4bdab, #e6d5c8, #d4bdab);
}
.junk-background-13{
    background-image: linear-gradient(to bottom right, #d9d5b8, #f2efda, #d9d5b8);
}
.junk-background-14{
    background-image: linear-gradient(to bottom right, #bad6b4, #dcf0d8, #bad6b4);
}
.junk-background-15{
    background-image: linear-gradient(to bottom right, #b2d6c6, #d3ede2, #b2d6c6);
}
.junk-background-16{
    background-image: linear-gradient(to bottom right, #b6ced9, #d5e7f0, #b6ced9);
}
.junk-background-17{
    background-image: linear-gradient(to bottom right, #b8b6d6, #d9d8f0, #b8b6d6);
}
.junk-background-18{
    background-image: linear-gradient(to bottom right, #d4b2c7, #f2dae9, #d4b2c7);
}
.junk-background-19{
    background-image: linear-gradient(to bottom right, #d4b4ba, #edd5da, #d4b4ba);
}
.junk-background-20{
    background-image: linear-gradient(to bottom right, #dbd4c3, #f0eadd, #dbd4c3)
}
/* message animation---------------------------------------------------------------------------------------- */
.fade-in{
    animation: fadeIn 2s forwards;
}
@keyframes fadeIn {
    0% {
        opacity: 0.1;
    }
    100% {
        opacity: 1;
    }
}
/* background animation------------------------------------------------------------------------------------- */
.point-0{
    top: -10px;
    left: -10px;
}
.point-1{
    animation: point1 3s forwards;
}
@keyframes point1 {
    0% {
        top: -10px;
        left: -10px;
        scale: 1;
    }
    100% {
        top: 0px;
        left: -300px;
        scale: 1.5;
    }
}
/* space junk animation------------------------------------------------------------------------------------ */
.approaching{
    animation: approach 3s forwards;
}
@keyframes approach {
    0% {
        scale: 0.25;
    }
    100% {
        scale: 2;
    }
}